extends layout



block content

    p(class="title") Mi presento
    p
        | Mi chiamo Marco Scaletta, sono laureato in Informatica e attualmente sono iscritto al
        | #[a(href='http://magistrale.educ.di.unito.it/') Corso di Laurea Magistrale in Informatica]
        | dell'#[a(href='https://www.unito.it/') Università degli Studi di Torino].
    p
        | In questo sito è presente una raccolta di progetti con i quali è possibile interagire
        | ️tramite interfaccia web.
