body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea{
  row-span: 1;
  column-span:1 ;
}
.header {
  padding: 15px;
}

.menu {
  width: 40%;
  float: left;
  padding: 15px;
}

.title{
  font-size: x-large;
}

.main {
  width: 60%;
  float: left;
  padding: 15px;
  font-size: large;
}